p {  background-color:yellow;
     color:black;
     text-align:center }
pre {
     background-color:blue;
     font-style:italic;
     font-weight:bold; 
     color:white }
#box1 {
	 color:yellow;
     background-image:url("../../image/a3.png");
     border-width: thick; 
     border-style: dashed;
     border-color: black;
     margin-top:10px;
     padding-left:20px  
}

